# Copy this file to .env and set your Groq and Supabase keys
GROQ_API_KEY=grq_your_groq_api_key_here
GROQ_CHAT_MODEL=llama-3.1-8b-instant
SUPABASE_URL=https://cjrrpauajocaxytwgeuy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqcnJwYXVham9jYXh5dHdnZXV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUyNjkwNiwiZXhwIjoyMDkwMTAyOTA2fQ.rfwx_02dRUk7Keagx_SmckPC2cdHDQWTO21OClWKghc
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2